---

import Layout from '../layouts/Layout.astro';
import DashBordContainer from '../container/DashBordContainer'
---

<Layout title="task cycle | DashBord">
	<body>
		<DashBordContainer client:only />
	</body>
</Layout>
