---
import Layout from '../layouts/Layout.astro';

---

<Layout title="task cycle">
	<div class="home-image">
		<img src="/home.png" alt="" srcset="">
		<div class="info-box">
			<p class="text">自分のタスク評価を効果を識別</p>
			<p class="text">タスクサイクルの最適化</p>
		</div>
	</div>
</Layout>

<style>
	.home-image {
		position: relative;
		max-width: 60vw;
		margin: 0 auto;
	}
	.home-image .info-box {
		position: absolute;
		top: 5vh;
		left: 15vw;
	}
	.home-image .text {
		font-size: 2rem;
		line-height: 1.7;
	}
	.home-image .text:nth-child(2) {
		text-align: right;
		margin-right: -5vw;
	}
</style>
