---
import Layout from '../layouts/Layout.astro';
import PostsInit from "../jscomponents/PostsInit";
import PostContainer from "../container/PostContainer";
---

<Layout title="task cycle | memory">
	<body>
		<PostsInit client:only />
		<PostContainer client:only />
	</body>
</Layout>
