---
import Layout from '../layouts/Layout.astro';
import TaskCycleContainer from "../container/TaskCycleContainer";
---

<Layout title="Welcome to Astro.">
	<body>
		<TaskCycleContainer client:only />
	</body>
</Layout>
