---
import Layout from '../layouts/Layout.astro';
import TaskCycleContainer from "../container/TaskCycleContainer";
---

<Layout title="task cycle | make cycle">
	<body>
		<TaskCycleContainer client:only />
	</body>
</Layout>
