---
const list = [
	{id:1,path:"/",name:"ホーム"},
	{id:2,path:"/dashBord",name:"ダッシュボード"},
	{id:3,path:"/tasks",name:"タスク記録"},
	{id:4,path:"/toolCycle",name:"ループフォーマット"},
	{id:5,path:"/method",name:"方法作成"},
	{id:6,path:"/todo",name:"todo"}
];

---

<header class="header gnav">
  <div class="heaher-inner">
		{list.map((item) => <a href={item.path}>{item.name}</a>)}
	</div>
</header>
