---
const list = [
	{id:1,path:"/",name:"ホーム"},
	{id:2,path:"/dashBord",name:"ダッシュボード"},
	{id:3,path:"/posts",name:"タスク記録"},
	{id:4,path:"/taskCycle",name:"ループフォーマット"}
];

---

<header class="header gnav">
  <div class="heaher-inner">
		{list.map((item) => <a href={item.path}>{item.name}</a>)}
	</div>
</header>
